html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow: hidden;
  background: #000;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
body header,
body section,
body footer {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
